@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {

        /* dark mode */
        --dm-body-bg: #333347;
        --dm-body-content: #c7c7c7;
        --dm-header-bg: #6565df;
        --dm-footer-content: #333333;
        --dm-links-bg: #ffffff14;

        /* light mode */
        --lm-body-bg: #ffffff;
        --lm-body-content: #292929;
        --lm-header-bg: #9595e9;
        --lm-footer-content: #333333;
        --lm-links-bg: #9595e9;
}

* {
        margin: 0!important;
        padding: 0;
}

html {
        height: 100%;
        min-height: 100%;
}

html * {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
}

body {
        height: 1500px;
        width: 100%;
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
        align-items: center;
}

header {
        position: absolute;
        top: 0;
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
}

header * {
        display: flex;
}

footer {
        position: sticky;
        top: 100%;
        width: 100%;
        height: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
}

footer a {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
}

footer img {
        height: 80%;
}

footer * {
        display: flex;
}

a {
        text-decoration: none;
        transition: 0.5s;
}

a:hover {
        color: #a4a4be;
}

header a {
        width: 30px;
        height: 30px;
        border: 2px solid #f07e14;
        background-color: #f07e14;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
}

header a i,
header a i::before {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        color: #6565df;
}

.links {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        justify-content: space-evenly;
        width: 100%;
        height: max-content;
        padding: 0 10px;
}

@media screen and (max-width: 950px) {
        .links {
                width: 90%;
        }
}

.main_content {
        width: max-content;
        min-width: 40%;
        display: flex; 
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
}

.main_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: max-content;
        height: 200px;
        width: 100%;
        text-align: center;
}

.main_info * {
        display: flex;
        align-items: center;
        justify-content: center;
}

.main_info div {
        flex-direction: column;
}

.pfp {
        width: 100px;
        border-radius: 50%;
}

.link_redirect {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
}

.link_item {
        padding: 10px;
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
}

.link_item * {
        display: flex;
        gap: 25px;
}

.link_item a {
        width: 100%;
}

.image_container {
        max-width: 50px;
        max-height: 50px;
}

.link_container {
        margin-left: 60px;
}

.link_container,
.link_container * {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
}

.link_container h4 {
        font-weight: bold;
}

.link_img {
        height: 100%;
        border-radius: 5px;
}

.link_spotify {
        width: 100%;
        min-height: 380px!important;
        border: none;
}

@media (prefers-color-scheme: dark) {

        body {
                background-color: var(--dm-body-bg);
        }

        body * {
                color: var(--dm-body-content);
        }

        header {
                background-color: var(--dm-header-bg);
        }

        footer {
                background-color: var(--dm-header-bg);
        }

        footer * {
                color: var(--dm-footer-content);
        }

        header .right .dark {
                display: none;
        }

        .link_item {
                background-color: var(--dm-links-bg);
        }
}

@media (prefers-color-scheme: light) {

        body {
                background-color: var(--lm-body-bg);
        }

        body * {
                color: var(--lm-body-content);
        }

        header {
                background-color: var(--lm-header-bg)
        }

        footer {
                background-color: var(--lm-header-bg);
        }

        footer * {
                color: var(--lm-footer-content);
        }

        header .right .light {
                display: none;
        }

        .link_item {
                background-color: var(--lm-links-bg);
        }

}